html,body{height:100%;}

body {
  padding-top: 55px;
}

.cl-tab-card {
  overflow-y: auto;
  height: 100vh; 
  display:'';
}

.click-icon {
  transition: all .2s ease-in-out; 
}

.click-icon:hover {
  cursor: pointer;
  transform: scale(1.5);
}